<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>Корзина</title>
		<link rel="stylesheet" th:href="@{styles.css}" />
	</head>
	
	<body>
		<div th:insert="~{template-navbar::navbar}">  </div>
		<h1>Корзина</h1>
		<table>
			<tr> 
				<th>id</th>
				<th>Обложка</th>
				<th></th>
				<th>Название</th>
				<th>Автор</th>
				<th>Язык</th>
				<th>Год издания</th>
				<th>Жанр</th>
				<th>Описание</th>
				<th>ISBN</th>
				<th>Кол-во страниц</th>
				<th>Оценка</th>
				<th>Цена</th>
				<th>Кол-во в корзине</th>
			</tr>
			<tr th:each="record : ${@cartService.getBookList}" th:with="book=${record.book}">
				<td> <span th:text="${book.id}"></span></td>
				<td> <img th:src="@{''+${book.image}}" alt="${book.image}"/> </td>
				<td> <span th:text="${book.newBook} ? '!!!' : ''"></span></td>
				<td> <a th:text="${book.name}" th:href="@{/book}+'?id='+${book.id}"></a></td>
				<td> <span th:text="${book.author}"></span></td>
				<td> <span th:text="${book.language}"></span></td>
				<td> <span th:text="${book.publicationYear}"></span></td>
				<td> <span th:text="${book.genre}"></span></td>
				<td> <span th:text="${book.description}"></span></td>
				<td> <span th:text="${book.isbn}"></span></td>
				<td> <span th:text="${book.pages}"></span></td>
				<td> <span th:text="${book.rate} > 0 ? (${book.rate}+' / 10') : ''"></span></td>
				<td> <span th:text="${book.cost}"></span></td>
				<td> <span th:text="${record.amount}"></span></td>
			</tr>
		</table>
		
		<form th:action="@{/cart/buy}" method="post" class="div-border">
			<div>
				<h2>Общая стоимость</h2>
				<span th:text="${@cartService.getTotalCost()}"></span>
			</div>
			
			<input type="submit" value="Оформить заказ"/>
		</form>
	</body>
</html>